<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TeamSecond.letsmeet.IDAO.PlaceDAO">
	
	<insert id="placeInsert" parameterType="com.TeamSecond.letsmeet.DTO.PlaceDTO">
		insert into place (placeName, placeAddr, outLine, tel, writeDate, id) values (#{placeName}, #{placeAddr}, #{outLine}, #{tel}, sysdate, #{id})
	</insert>
	
	<select id="selectReview" parameterType="String" resultType="com.TeamSecond.letsmeet.DTO.ReviewDTO">
		SELECT id, reviewTitle, reviewContents FROM 
		(SELECT placeName, id, reviewTitle,reviewContents,to_char(writeDate,'yyyy/mm/dd hh24:mi:ss')writeDate
		FROM review 
		ORDER BY writeDate desc) 
		where placeName=#{placeName} and ROWNUM <![CDATA[ < ]]> 7
	</select>
	
	<select id="selectAppraisal" parameterType="String" resultType="String">
		select round(avg(reviewAppraisal),0) from review where placeName = #{placeName}
	</select>
	
	<!-- 시간을 굳이 가져올 필요가 없다 해당 아이디와 해당 장소가 맞는걸 가져 오면 된다 -->
	<select id="placeForm" parameterType="com.TeamSecond.letsmeet.DTO.PlaceDTO" resultType="com.TeamSecond.letsmeet.DTO.PlaceDTO">
		select distinct placeName,placeAddr,tel,outLine,id from place where placeName=#{placeName} and id=#{id} and ROWNUM =1
	</select>
	
	<select id="appraisalPlace" parameterType="String" resultType="com.TeamSecond.letsmeet.DTO.PlaceDTO">
		select distinct placeName,placeAddr,tel,outLine, id from place 
		where placeName=#{placeName} and ROWNUM =1 
	</select>

</mapper>