<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TeamSecond.letsmeet.IDAO.ReviewDAO">
	<insert id="reviewInsert" parameterType="com.TeamSecond.letsmeet.DTO.ReviewDTO">
		insert into review (reviewNo,placeName,id,reviewTitle,reviewContents,reviewAppraisal,reviewMemberType,serviceScore,tasteScore,moodScore,writeDate)
		values ((select NVL(MAX(reviewNo),0)+1 FROM review),#{placeName},#{id},#{reviewTitle},#{reviewContents},#{reviewAppraisal},#{reviewMemberType},#{serviceScore},#{tasteScore},#{moodScore},sysdate)
	</insert>
	
	<!-- 리뷰쓰고 돌아올 때 이전페이지값을 DB에서 가져오기 -->
	<select id="reviewPlace" parameterType="String" resultType="com.TeamSecond.letsmeet.DTO.PlaceDTO">
			SELECT * FROM 
		(SELECT placeName,placeAddr,outLine,tel,to_char(writeDate,'yyyy/mm/dd hh24:mi:ss')writeDate
		FROM place
		ORDER BY writeDate desc) 
		where placeName=#{placeName} and ROWNUM =1
	</select>
	
	<select id="selectReview" parameterType="String" resultType="com.TeamSecond.letsmeet.DTO.ReviewDTO">
		SELECT reviewContents FROM 
		(SELECT placeName,reviewContents,to_char(writeDate,'yyyy/mm/dd hh24:mi:ss')writeDate
		FROM review 
		ORDER BY writeDate desc) 
		where placeName=#{placeName} and ROWNUM =1
	</select>
	
	<select id="selectAppraisal" parameterType="String" resultType="String">
		select round(avg(reviewAppraisal),0) from review where placeName = #{placeName}
	</select>
	
	<select id="selectMyReviewPlaceNameAll" parameterType="String" resultType="com.TeamSecond.letsmeet.DTO.PlaceDTO">
	select placeName,writeDate from(
		select placeName,to_char(writeDate , 'yyyy/mm/dd hh24:mi:ss')writeDate,rownum ,id from review order by writeDate desc
		)
	 where id=#{id} and rownum <![CDATA[ < ]]>13
	</select>

	<select id="reviewExampleProc" parameterType="map" resultType="com.TeamSecond.letsmeet.DTO.ReviewDTO">
		select * from review where placeName=#{placeName} and id=#{id}
	</select>
	
	<select id="bestAppraisalPlace" resultType="com.TeamSecond.letsmeet.DTO.ReviewDTO">
	select placeName, score, rownum from(
		select placeName, round(avg(reviewAppraisal),0)as score from(
			SELECT placeName, reviewAppraisal FROM review WHERE writeDate >= TO_CHAR(SYSDATE-7,'YYYYMMDD')
		) group by placeName order by score desc 
	)where rownum <![CDATA[ < ]]> 8 
	</select>
	
</mapper>