<!DOCTYPE html>
<html html lang="UTF-8">

<script src="//code.jquery.com/jquery-latest.min.js"></script>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css"> </head>
  <title>리뷰 대응페이지</title>
<body>
  <div class="container">
  <div class="bg-faded p-4 my-4">
  <!-- Navigation -->
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1 class="my-4">리뷰페이지(하나를 클릭했을때 넘어오는페이지)</h1>
      </div>
      <!-- /.col-lg-3 -->
      <div class="col-lg-9">
        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
          <div class="card-body">
            <h3 class="card-title">업소이름</h3>
            <p class="card-text">대략적인설명</p> <span class="text-warning">★ ★ ★ ★ ☆</span>4.0 stars(별점이필요할까요?) </div>
        </div>
        <!-- /.card -->
        <div class="card card-outline-secondary my-4">
          <div class="card-header"> 리뷰들 </div>
          <div class="card-body">
            <p>댓글내용</p>
            <small class="text-muted">날짜</small>
            <hr>
            <p>댓글내용2</p>
            <small class="text-muted">날짜</small>
            <hr>
            <p>댓글내용3</p>
            <small class="text-muted">날짜</small>
            <hr>
            <a href="#" class="btn btn-success">Leave a Review</a>
          </div>
          </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col-lg-9 -->
    </div>
  </div>
  <!-- /.container -->
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright ⓒ Yahmanaza 2017</p>
    </div>
    <!-- /.container -->
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>