<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css"> </head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
    <div class="container">
      <a class="navbar-brand" href="#">Yahmanaza</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mx-2">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#">How about here?</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#">Come with us</a>
          </li>
        </ul>
        <a class="btn btn-primary" href="">로 그 인</a>
        <a class="btn navbar-btn ml-2 text-white btn-primary"><i class="fa d-inline fa-lg fa-user-circle-o"></i>회원가입</a>
        <form class="form-inline m-0">
          <input class="form-control mr-2 mx-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="submit">검 색</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="py-4" style="background-image: url(&quot;background/the_wait_nightlife_night_view_bokeh_atmosphere_window_glass_non-1186147.jpg&quot;);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center display-4 text-white">상 세 보 기</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-primarytext-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img class="d-block img-fluid my-3" src="food/1 (1).jpg">
          <div class="row">
            <div class="col-md-2">
              <img class="img-fluid d-block" src="background/the_wait_nightlife_night_view_bokeh_atmosphere_window_glass_non-1186147.jpg"> </div>
            <div class="col-md-2">
              <img class="img-fluid d-block" src="food/1.jpg"> </div>
            <div class="col-md-2">
              <img class="img-fluid d-block" src="food/2d5274b4129d9249dd87428fce33da3f.jpg"> </div>
            <div class="col-md-2">
              <img class="img-fluid d-block" src="food/2fbc29f3caad27e7355df31674074504.jpg"> </div>
            <div class="col-md-2">
              <img class="img-fluid d-block" src="food/4ef65aff65f44dfb8183080ca42be7a2_780x0c.jpg"> </div>
            <div class="col-md-2">
              <img class="img-fluid d-block" src="food/0308_image_01.jpg"> </div>
          </div>
        </div>
        <div class="col-md-6">
          <h1 class="text-primary">육백더육백</h1>
          <p class="text-primary">600g을 주문하시면 서비스로 600g을 더 드리겠습니다.</p>
          <form>
            <ul class="nav nav-tabs">
              <li class="nav-item" draggable="true">
                <a class="nav-link" href="#">메뉴판</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">찾아가는길</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">갤러리</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">리뷰보기</a>
              </li>
            </ul>
            <ul class="">
              <li>보쌈</li>
              <li>수육</li>
              <li>삼합</li>
              <li>Two</li>
              <li>Two</li>
              <li>Two</li>
              <li>Two</li>
              <li>Two</li>
            </ul>
            <a href="#" class="btn btn-outline-secondary">더 보 기</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="gradient-overlay p-3" style="background-image: url(&quot;place/001(6).jpg&quot;);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="primary display-4 text-center text-primary py-3">메 뉴 판</h3>
        </div>
      </div>
      <div class="row">
        <div class="p-3 align-self-center col-md-3">
          <div class="card">
            <div class="card-block p-5">
              <h1><sup>$</sup> 25 </h1>
              <h3>AA세트</h3>
              <hr>
              <p>팝업으로 표시</p>
              <a href="#" class="btn btn-secondary">상세보기</a>
            </div>
          </div>
        </div>
        <div class="p-3 align-self-center col-md-3">
          <div class="card">
            <div class="card-block p-5">
              <h1><sup>$</sup> 25 </h1>
              <h3>BB세트</h3>
              <hr>
              <p>팝업으로 표시</p>
              <a href="#" class="btn btn-secondary">상세보기</a>
            </div>
          </div>
        </div>
        <div class="p-3 align-self-center col-md-3">
          <div class="card">
            <div class="card-block p-5">
              <h1><sup>$</sup> 25 </h1>
              <h3>CC세트</h3>
              <hr>
              <p>팝업으로 표시</p>
              <a href="#" class="btn btn-secondary">상세보기</a>
            </div>
          </div>
        </div>
        <div class="p-3 align-self-center col-md-3">
          <div class="card">
            <div class="card-block p-5">
              <h1><sup>$</sup> 25 </h1>
              <h3>DD세트</h3>
              <hr>
              <p>팝업으로 표시</p>
              <a href="#" class="btn btn-secondary">상세보기</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center align-self-center">
          <h1 class="">찾 아 오 시 는 길</h1>
          <p class="mb-5 text-center"><b></b>서울시 종로구 연지동 123-456번지
            <br>7890버스 연지역 하차 도보로 30M
            <div>2345번 종로역 하차 도보로 10M
              <br>지하철 1호선 종로5가역 하차 5번 출구 도보로 15M</div>
          </p>
        </div>
        <div class="col-md-6 p-0">
          <img class="img-fluid" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDW8nO9JhT_pEjebobq9pgUF2cEp0EUb1I&amp;&amp;markers=folsom+Ave+san+francisco&amp;center=folsom+Ave+san+francisco&amp;zoom=16&amp;size=640x300&amp;sensor=false&amp;scale=2"> </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h3 class="display-4 text-center text-primary py-4">갤 러 리</h3>
        </div>
      </div>
      <div class="row">
        <div class="p-0 col-md-2 col-6">
          <a href="stories.html">
            <img src="https://pingendo.github.io/templates/sections/assets/stories_6.jpg" class="img-fluid"> </a>
        </div>
        <div class="p-0 col-md-2 col-6">
          <a href="stories.html">
            <img src="https://pingendo.github.io/templates/sections/assets/stories_2.jpg" class="img-fluid"> </a>
        </div>
        <div class="p-0 col-md-2 col-6">
          <a href="stories.html">
            <img src="https://pingendo.github.io/templates/sections/assets/stories_3.jpg" class="img-fluid"> </a>
        </div>
        <div class="p-0 col-md-2 col-6">
          <a href="stories.html">
            <img src="https://pingendo.github.io/templates/sections/assets/stories_1.jpg" class="img-fluid"> </a>
        </div>
        <div class="p-0 col-md-2 col-6">
          <a href="stories.html">
            <img src="https://pingendo.github.io/templates/sections/assets/stories_5.jpg" class="img-fluid"> </a>
        </div>
        <div class="p-0 col-md-2 col-6">
          <a href="stories.html">
            <img src="https://pingendo.github.io/templates/sections/assets/stories_4.jpg" class="img-fluid"> </a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-primary display-4 text-center p-0">고 객 리 뷰</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-12">
          <div class="row text-left mt-5">
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-thumbs-o-up"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b class="text-primary">마이쪙</b></h5>
                </div>
              </div>
              <p>Based on fluid design principles. Works with screen resolution. &nbsp;In-app chat panel 24/7 active. The support you need, right there.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-thumbs-o-up"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b class="text-primary">강추</b></h5>
                </div>
              </div>
              <p>Help us spreading the word. Tell your friends with just one-click.&nbsp;Work simultaneously on different panels with the switcher</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-thumbs-o-down"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b class="text-primary">별로에요</b></h5>
                </div>
              </div>
              <p>You are working with plain HTML and SASS files on your computer, so extending and integrating Javascript is a breeze.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-thumbs-o-up"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b class="text-primary">For anyone</b></h5>
                </div>
              </div>
              <p>Based on fluid design principles. Works with screen resolution.&nbsp;Choose settings depending on the criteria you value the most.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-thumbs-o-up"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b class="text-primary">좋았습니다</b></h5>
                </div>
              </div>
              <p>In-app chat panel 24/7 active. The support you need, right there. Pingendo enhance the battery duration and the quality of your life.&nbsp;</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-thumbs-o-down"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b class="text-primary">실화냐?</b></h5>
                </div>
              </div>
              <p>Help us spreading the word. Tell your friends with just one-click.&nbsp;Work simultaneously on different panels. Share the work with teammates.</p>
            </div>
          </div>
          <ul class="pagination text-left">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">«</span> <span class="sr-only">Previous</span> </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item text-center">
              <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">»</span> <span class="sr-only">Next</span> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="text-white bg-light">
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-secondary">Team S2cond</h2>
          <p class="text-primary">A company for whatever you may need, from website prototyping to publishing</p>
        </div>
        <div class="p-4 col-md-3 text-primary">
          <h2 class="mb-4 text-secondary">Mapsite</h2>
          <ul class="list-unstyled text-primary">About&nbsp;
            <br>
            <a href="#" class="text-primary">How about here</a>
            <br>Come with us
            <br>
            <a href="#" class="text-primary">Contact us</a>
          </ul>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-secondary">Contact</h2>
          <p>
            <a href="tel:+246 - 542 550 5462" class="text-primary"><i class="fa d-inline mr-3 text-secondary fa-phone"></i>+82 010 1234 5678
              <br> </a>
          </p>
          <p style="opacity: 0.5;">
            <a href="mailto:info@pingendo.com" class="text-primary"><i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>Yahmanaza@naver.com</a>
          </p>
          <p>
            <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-primary" target="_blank"><i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>365 YG Jonglo, Seoul</a>
          </p>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-secondary">Subscribe</h2>
          <form>
            <fieldset class="form-group text-white"> <label for="exampleInputEmail1" class="text-primary">Get our newsletter</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"> </fieldset>
            <button type="submit" class="btn btn-outline-secondary">Submit</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-secondary">© Copyright 2017 Yahmanaza - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>